body {
  font-family: sans-serif;
  color: #666666;
  margin: 0;
}

.container {
  margin: 1rem;
}

h1 {
  padding: 0.5rem;
  background-color: dodgerBlue;
  color: black;
}

section {
  display: flex;
}

section > * {
  flex: 1;
}

form {
  border: solid 1px black;
  display: flex;
  flex-direction: column;
}

form > * {
  margin: 1rem;
}

input, button {
  height: 2rem;
}

li {
  display: flex;
  flex-direction: column;
}

.archived span {
  text-decoration: line-through;
}

button {background-color: lightgray;}

input {border:1px lightgray solid}